{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "MethodCallRemoval": false,
        "GreaterThan": false,
        "GreaterThanNegotiation": false,
        "GreaterThanOrEqualTo": false,
        "GreaterThanOrEqualToNegotiation": false,
        "Minus": false
    }
}
